.table-container {
  width: 100%;
  overflow-x: auto; 
  padding: 20px;
  box-sizing: border-box; 
}

.data-table {
  width: 100%;
  border-collapse: collapse; 
  background-color: #ffffff; 
}

.data-table th, .data-table td {
  border: 1px solid #000000; 
  padding: 8px; 
  text-align: center; 
}

.data-table th {
  background-color: #f4f4f4; 
  font-weight: bold; 
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Color alternativo para las filas */
}

.data-table tr:hover {
  background-color: #e0e0e0; /* Color de fondo al pasar el ratón sobre una fila */
}
